.footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: grid;
    height: 9rem;
    place-items: center; 
    align-items: space-between;
    font-family: "Roboto";
}

.footerHeading {
    font-size: 2.2rem; 
    font-weight: 900;
    color: rgba(201, 253, 2, 1);
}

.footerButton {
  color: white;
  font-size: 0.8rem;
  padding: 8px 16px;
  text-decoration: none; 
  cursor: pointer;
}

.copyright {
    font-size: 0.9rem;
    color: #444; 
}
