.container {
    /* border: 2px solid white;  */
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 32px;
}

.title {
    font-family: "Montserrat", serif;
    font-weight: 900;
    color: rgb(201 253 2 / 2);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 48px;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.formGroup {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: Bold;
    font-weight: 800;
    display: flex;
    flex-direction: column;
}

.label {
    color: #ccff00;
    font-size: 2rem;
    margin-bottom: 8px;
}

input:focus, textarea:focus, button:focus, select:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #999;
    opacity: 1;
    font-size: 1rem;
    /* font-style: italic; */
}

.input, .select {
    font-family: "Montserrat";
    /* font-style: bold; */
    background-color: rgb(243 244 246 / 1);
    height: 4.4rem;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    /* background: white; */
}

.submitContainer {
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.submitButton {
    font-size: 1rem;
    color: white; 
    border: 1px solid white; 
    background: transparent;
    height: 3rem;
    padding: 8px 32px;
    border-radius: 9999px;
    cursor: pointer;
    transition: opacity background-color 0.2s;
}

.submitButton:hover {
    background-color: rgb(201 253 2 / 2);
    opacity: 0.9;
}
